.search-head{
    position:absolute;
    left:30px;
    top:20px;
    color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    font-weight: bold;
}
.search-back{
    background-color: #122838;
    width: 1280px;
    height: 575px;    
}
.search-bar{
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    width:600px;
    height:40px;
    color:black;
    position:absolute;
    top:80px;
    left:30px;
    border:1px solid black;
}
.search-button{
    position:absolute;
    border-radius: 5px 5px 5px 5px;
    top:80px;
    left:640px;
    height:40px;
    width:80px;
    color:green;
    border:1.2px solid green;
    font-size: 16px;
}
.search-button:hover{
    background-color: green;
    color:white;
}
.search-choose{
    top:130px;
    position: absolute;
    font-size:30px;
    left:30px;
    color:white;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.search-upload-box{
    position:absolute;
    color:black;
    background-color: white;
    border: 1px solid black;
    top:200px;
    left:30px;
    height:150px;
    width:1200px;
    border-radius: 5px 5px 5px 5px;
}
.search-head {
    position: absolute;
    left: 30px;
    top: 20px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    font-weight: bold;
}

.search-back {
    background-color: #122838;
    width: 1400px;
    height: 800px;
}

.search-bar {
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    width: 600px;
    height: 40px;
    color: black;
    position: absolute;
    top: 80px;
    left: 30px;
    border: 1px solid black;
}

.search-button {
    position: absolute;
    border-radius: 5px 5px 5px 5px;
    top: 80px;
    left: 640px;
    height: 40px;
    width: 80px;
    color: green;
    border: 1.2px solid green;
    font-size: 16px;
}

.search-button:hover {
    background-color: green;
    color: white;
}

.search-choose {
    top: 130px;
    position: absolute;
    font-size: 30px;
    left: 30px;
    color: white;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.search-upload-box {
    position: relative;
    color: black;
    background-color: white;
    border: 1px solid black;
    padding-bottom: 15px;
    padding-left: 15px;
    top: 200px;
    left: 30px;
    height: 150px;
    width: 1200px;
    border-radius: 5px 5px 5px 5px;
}

.description {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    color: rgb(0, 0, 0);
}

.author {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: rgb(66, 66, 66);
}

.subject {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: rgb(117, 117, 117);
}

.rating {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.red {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: rgb(156, 0, 0);
}

.green {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: rgb(50, 175, 0);
}

.yellow {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: rgb(217, 221, 2);
}

.gap-space {
    background-color: #122838;
    height: 20px;
}