.log-in-btn-box{
    position:absolute;
    border:1px solid black;
    background-color: white;
    height:400px;
    width:390px;
    top:100px;
    left:435px;
    border:rgb(146, 159, 184);
}
.log-in-icon{
    height:80px;
    width:80px;
}
.note-head{
    position:absolute;
    font-weight: bold;
    top:25px;
    left:80px;
    font-size: 25px;
}

.lightbox{
    background-color: rgb(146, 159, 184);
    width:1280px;
    height:560px;
}
.log-in-text{
    position: absolute;
    top:100px;
    left:100px;
    font-size: 18px;
    color:rgb(78, 75, 75);
}
.log-in-input{
    height:25px;
    width:300px;
    left:30px;
    position: absolute;
    top:150px;
    background-color: rgb(238, 229, 229);
    border-color: black;
    color:black;
}
.pass-log-input{
    top:200px;
}
.forgot-password{
    color:rgb(81, 81, 128);
    text-align: right;
    right:45px;
    font-size: 13px;
    position: absolute;
    top:250px;
    cursor:pointer;
    background-color: white;
    border: white;
}
.log-in-box-btn{
    background-color: rgb(65, 65, 236);
    position: absolute;
    top:290px;
    height: 35px;
    width:310px;
    color:white;
    font-size:20px;
    text-align: center;
    left:30px;
    border: rgb(65, 115, 180);
    cursor:pointer;
}
.need-acc{
    position: absolute;
    bottom:20px;
    left:100px;
    font-size: 13px;
    color:grey;
}
.log-cross{
    height:10px;
    width:10px;
    position: absolute;
    right:10px;
    top:10px;
}